#Slim
abi/
bionic/
cts/
development/
external/
kernel/
packages/
prebuilts/
repo/
system/
android/
bootable/
dalvik/
device/
frameworks/
libcore/
ndk/
pdk/
tools
art/
build/
developers/
docs/
hardware/
libnativehelper/
out/
platform_manifest/
prebuilt/
sdk/
vendor/

Makefile

#repo
.repo/.directory
.repo/.repopickle_fetchtimes
.repo/.repo_fetchtimes.json
.repo/project-objects/
.repo/manifest.xml
.repo/manifests.git/
.repo/manifests/
.repo/project.list
.repo/projects/

